<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto mt-3">
      <div class="card text-center">

        <div class="card-body">
            {{!-- <div class="card-title mb-4">

          </div> --}}
          <h3>Control de Clientes</h3>
          
            <a
              href="/api/v1/authentic/login"
              class="btn btn-primary m-4"
            >Inicio</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>