<main class="container-box">

  <div class="list-customer">
    <div class="wrapper">
      <div class="card_content afore" id="afore">

        <div class="list-title">
          <h5>
            Directorio Afores
          </h5>

        </div>

        <div class="afore_content">

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-azteca.png"
                alt="afore-azteca"
                data-afore="azteca"
              />
            </div>

            <div class="afore-info" data-afore="azteca">
              <a
                href="https://www.aforeazteca.com.mx"
                target="_blank"
              >www.aforeazteca.com.mx</a>

              <a href="tel:+528001121313"><p><i class="bx bxs-phone-call"></i>
                  800 112 1313</p></a>
            </div>

            <div class="afore-info-extra" data-afore="azteca">
              <a><strong>Requiere cita:</strong> No</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 75</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 2 años</a>
              <br />
              <a><strong>Días cobro:</strong> 2 - 3 días hábiles</a>
            </div>
          </div>

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-xxibanorte.png"
                alt="afore-banorte"
                data-afore="banorte"
              />
            </div>

            <div class="afore-info" data-afore="banorte">
              <a
                href="https://www.xxi-banorte.com"
                target="_blank"
              >www.xxi-banorte.com</a>
              <a href="tel:+525520001994"><p><i class="bx bxs-phone-call"></i>
                  552 000 1994</p></a>
            </div>

            <div class="afore-info-extra" data-afore="banorte">
              <a><strong>Requiere cita:</strong> Sí</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 115</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 1 año</a>
              <br />
              <a><strong>Días cobro:</strong> 2 - 3 días hábiles</a>
            </div>
          </div>

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-citibanamex.png"
                alt="afore-banamex"
                data-afore="banamex"
              />
            </div>
            <div class="afore-info" data-afore="banamex">
              <a
                href="https://www.aforebanamex.com.mx"
                target="_blank"
              >www.aforebanamex.com.mx</a>
              <a href="tel:+525522623673"><p><i class="bx bxs-phone-call"></i>
                  552 262 3673</p></a>
            </div>

            <div class="afore-info-extra" data-afore="banamex">
              <a><strong>Requiere cita:</strong> Sí</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 110</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 1 año</a>
              <br />
              <a><strong>Días cobro:</strong> 3 - 7 días hábiles</a>
            </div>
          </div>
        </div>

        <div class="afore_content">

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-coppel.png"
                alt="afore-coppel"
                data-afore="coppel"
              />
            </div>
            <div class="afore-info" data-afore="coppel">
              <a
                href="https://www.aforecoppel.com"
                target="_blank"
              >www.aforecoppel.com</a>
              <a href="tel:+528002267735"><p><i class="bx bxs-phone-call"></i>
                  800 226 7735</p></a>
            </div>

            <div class="afore-info-extra" data-afore="coppel">
              <a><strong>Requiere cita:</strong> No</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 75</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 2 años</a>
              <br />
              <a><strong>Días cobro:</strong> 3 - 5 días hábiles</a>
            </div>
          </div>

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-inbursa.png"
                alt="afore-inbursa"
                data-afore="inbursa"
              />
            </div>
            <div class="afore-info" data-afore="inbursa">
              <a
                href="https://www.inbursa.com"
                target="_blank"
              >www.inbursa.com</a>
              <br />
              <a href="tel:+528009090000"><p><i class="bx bxs-phone-call"></i>
                  800 909 0000</p></a>
            </div>
            <div class="afore-info-extra" data-afore="inbursa">
              <a><strong>Requiere cita:</strong> No</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 150</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 1 año</a>
              <br />
              <a><strong>Días cobro:</strong> 1 - 2 días hábiles</a>
            </div>
          </div>

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-invercap.png"
                alt="afore-invercap"
                data-afore="invercap"
              />
            </div>
            <div class="afore-info" data-afore="invercap">
              <a href="https://www.invercap.com.mx" target="_blank">
                <p>
                  www.invercap.com.mx
                </p>
              </a>
              <a href="tel:+525547478000"><p><i class="bx bxs-phone-call"></i>
                  554 747 8000</p></a>
            </div>

            <div class="afore-info-extra" data-afore="invercap">
              <a><strong>Requiere cita:</strong> Sí</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 130</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 1 año</a>
              <br />
              <a><strong>Días cobro:</strong> 5 días hábiles</a>
            </div>
          </div>

        </div>

        <div class="afore_content">

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-principal.png"
                alt="afore-principal"
                data-afore="principal"
              />
            </div>
            <div class="afore-info" data-afore="principal">
              <a href="https://www.principal.com.mx" target="_blank">
                <p>www.principal.com.mx</p>
              </a>
              <a href="tel:+528180564624"><p><i class="bx bxs-phone-call"></i>
                  818 056 4624</p></a>
            </div>

            <div class="afore-info-extra" data-afore="principal">
              <a><strong>Requiere cita:</strong> Sí</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 129</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 1 año</a>
              <br />
              <a><strong>Días cobro:</strong> 5 - 7 días hábiles</a>

            </div>
          </div>

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-profuturo.png"
                alt="afore-profuturo"
                data-afore="profuturo"
              />
            </div>
            <div class="afore-info" data-afore="profuturo">
              <a href="https://www.profuturo.mx" target="_blank">
                <p>www.profuturo.mx</p>
              </a>
              <a href="tel:+528007155555"><p><i class="bx bxs-phone-call"></i>
                  800 715 5555</p></a>
            </div>

            <div class="afore-info-extra" data-afore="profuturo">
              <a><strong>Requiere cita:</strong> Sí</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 104</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 2 años</a>
              <br />
              <a><strong>Días cobro:</strong> 5 - 7 días hábiles</a>
            </div>
          </div>

          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-sura.png"
                alt="afore-sura"
                data-afore="sura"
              />
            </div>
            <div class="afore-info" data-afore="sura">
              <a href="https://www.suramexico.com/afore" target="_blank">
                <p>www.suramexico.com</p>
              </a>
              <a href="tel:+524433108192"><p><i class="bx bxs-phone-call"></i>
                  443 310 8192</p></a>
            </div>

            <div class="afore-info-extra" data-afore="sura">
              <a><strong>Requiere cita:</strong> Sí</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 70</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 1 año</a>
              <br />
              <a><strong>Días cobro:</strong> 2 - 3 días hábiles</a>
            </div>
          </div>

        </div>

        <div class="afore_content-other">

          {{! ISSTE }}
          <div class="afore">
            <div class="afore_img">
              <img
                src="/img/afores/afore-issste.png"
                alt="afore-issste"
                data-afore="issste"
              />
            </div>
            <div class="afore-info" data-afore="issste">
              <a href="https://www.gob.mx/pensionissste" target="_blank">
                <p>www.gob.mx/pensionissste</p>
              </a>
              <a href="tel:+528004001000"><p><i class="bx bxs-phone-call"></i>
                  800 400 1000</p></a>
            </div>

            <div class="afore-info-extra" data-afore="issste">
              <a><strong>Requiere cita:</strong> Sí</a>
              <br />
              <a><strong>Semanas mínimas:</strong> 150</a>
              <br />
              <a><strong>Permanencia Afore:</strong> 2 años</a>
              <br />
              <a><strong>Días cobro:</strong> 5 - 7 días hábiles</a>
            </div>
          </div>

          <div class="afore">
            <div class="afore_img">
              <img src="/img/afores/sartel.png" alt="sartel" />
            </div>
            <a href="https://www.e-sar.com.mx" target="_blank">
              <p>www.e-sar.com.mx</p>
            </a>
            <a href="tel:+525513285000"><p><i class="bx bxs-phone-call"></i>
                551 328 5000</p></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- ===== Afore ===== -->
  <script src="/js/afore.js"></script>

</main>